<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/tuinieren-stylesheet.css" rel="stylesheet">
  <script src="/js/tuinieren-script.js" defer></script>
  <!-- io server implementation -->
  <script src="/socket.io/socket.io.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

  <title>Tuinieren</title>
</head>
<style>
  .loading-title {
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(9, end)infinite,
    blink-caret .5s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #966F33 }
  }

  .loader {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-top: 5px solid rgba(255, 255, 255, 0.5);
    border-left: 3px solid #966F33;
    border-bottom: 1px solid rgb(235, 81, 75);
    border-right: transparent;
    animation: spinner 0.8s linear infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>

<body>
  <main>

    <!-- offline state container -->
    <div class="offline-state">
      <div class="state-container">
        <div class="loading-title">
        <p>Er gaat iets mis met de verbinding, we proberen de connectie te herstellen...</p>
      </div>
        <img class="offline-animation" src="/assets/animationErrorCropped.gif">
      </div>
    </div>

    <div class="reconnecting-state">
      <div class="state-container">
        <div class="loading-title">
        <p>De verbinding wordt hersteld...</p>
      </div>
        <img class="reconnecting-animation" src="/assets/animationReconnecting.gif">
      </div>
    </div>

    <div class="info">
      <!-- start text container -->
      <div class="blackboard-text ">
          <!-- <div class="loading-title">
            <p>LOADING......</p>
          </div>
          <div class="loader">
            <img src="/assets/yellowflower.png" alt="" width="50" height="50">
          </div> -->

          <!-- <div class="state-container">
            <p>Er gaat iets mis met de verbinding, we proberen de connectie te herstellen...</p>
            <img class="offline-animation" src="/assets/animationErrorCropped.gif">
          </div> -->

          <!-- <div class="state-container">
            <p>De verbinding wordt hersteld...</p>
            <img class="reconnecting-animation" src="/assets/animationReconnecting.gif">
          </div> -->

        <p>Leuk dat je meedoet! Sleep alle tools naar de juiste plekken en bekijk wat er gebeurd. Succes! </p>
        <audio src="/assets/natuurgeluid.mp3" loop id="bg-audio"></audio>
        <div>
          <button id="spelen"><img src="/assets/speaker-2-svgrepo-com.svg" alt="muziekje aan" width="50"
              height="50"></button>
          <button id="stoppen"><img src="/assets/speaker-disabled-svgrepo-com.svg" alt="muziekje uit" width="50"
              height="50"></button></div>
        <img src="/assets/start.png" class="start-button">
      </div>
    </div>
    <nav>
      <img src="/assets/bone.png" class="bone">
      <img src="/assets/lawnmower.png" class="lawn-mower">
      <img src="/assets/bird-seed.png" class="bird-seed">
      <img src="/assets/watering-can.png" class="watering-can">
      <img src="/assets/paintbrush1.png" class="paintbrush">
    </nav>
    <img src="/assets/background.jpg" class="background-image">
    <div class="client-count-menu">
 
      
      <div>
        <div class="box client-count">
         <img src="/assets/game-details.png" width="50" height="50">
         <a href="#popup-box" >Game Details</a> 
        </div>
        <div id="popup-box" class="modal">
        <div class="content">
          <h1>Game Details</h1>
          <a href="#"
               class="box-close">
                ×
            </a>
          <p>In SamenTuin kunnen spelers samen genieten van de rustgevende wereld van tuinieren. Het doel
             is om verschillende items naar de juiste plek te verplaatsen en zo de tuin te transformeren. 
             Wanneer spelers erin slagen om de items op de juiste plek te leggen, heeft dit een direct effect
              op de tuin. Prachtige bloemen bloeien op, bomen groeien en er ontstaat een betoverende omgeving. 
              Het unieke aspect van dit spel is dat spelers het samen kunnen spelen met meerdere mensen tegelijk,
               waarbij ze nauw samenwerken om de perfecte tuin te creëren. SamenTuin biedt een gezamenlijke en interactieve ervaring, 
               waarbij spelers hun tuiniersvaardigheden combineren en een bloeiende tuin tot leven brengen.</p>
        </div>
      </div>
      </div>
      
      <div class="client-count">
        <img src="/assets/animal-client-live.png" alt="" width="50" height="50">
        <span class="logit"></span>
      </div> 

      <div>
        <audio src="/assets/natuurgeluid.mp3" loop id="bg-audio"></audio>
            <button id="spelen"><img src="/assets/speaker-2-svgrepo-com.svg" alt="muziekje aan" width="50" height="50"></button>
            <button id="stoppen"><img src="/assets/speaker-disabled-svgrepo-com.svg" alt="muziekje uit" width="50" height="50"></button>
        <a href="/"><img src="/assets/backbutton.png" class="back-button" width="50" height="50"></a>
      </div>
    </div>
    <img src="/assets/plantbed.png" class="plantbed">
    <div class="flowerbed">
      <img src="/assets/blueflower.png" class="flower blueflower">
      <img src="/assets/blueflower.png" class="flower blueflower2">
      <img src="/assets/orangeflower.png" class="flower orangeflower">
      <img src="/assets/pinkflower.png" class="flower pinkflower">
      <img src="/assets/pinkflower.png" class="flower pinkflower2">
      <img src="/assets/yellowflower.png" class="flower yellowflower">
      <img src="/assets/yellowflower.png" class="flower yellowflower2">
    </div>

    <%- include('./partials/svg/fence.svg') %>

    <img src="/assets/lawnmower.png" class="lawn-mower-big">
    <div class="grass-container">
      <img src="/assets/grasspatch.png" class="grass patch-1">
      <img src="/assets/grasspatch.png" class="grass patch-3">
      <img src="/assets/grasspatch.png" class="grass patch-4">
      <img src="/assets/grasspatch.png" class="grass patch-5">
      <img src="/assets/grasspatch.png" class="grass patch-6">
      <img src="/assets/grasspatch.png" class="grass patch-2">
    </div>
    <img src="/assets/doghouse.png" class="doghouse">
    <img src="/assets/birdhouse.png" class="birdhouse">
    <img src="/assets/runningdog.gif" class="dog">
    <section class="bird"></section>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
</body>

</html>