<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tuinieren-stylesheet.css" rel="stylesheet">
    <script src="/js/tuinieren-script.js" defer></script>
    <title>Tuinieren</title>
</head>
        <body>
            <nav>
                <img src="/assets/bone.png" class="bone">
                <img src="/assets/lawnmower.png" class="lawn-mower">
                <img src="/assets/bird-seed.png" class="bird-seed">
                <img src="/assets/watering-can.png" class="watering-can">
                <img src="/assets/paintbrush1.png" class="paintbrush">
            </nav>
            <img src="/assets/background.jpg" class="background-image">
            <img src="/assets/plantbed.png" class="plantbed">
            <svg class="fence" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 512 512" xml:space="preserve">
            <g>
                <path style="fill:#D2B98F;" d="M503.172,218.607H8.828c-4.875,0-8.828-3.953-8.828-8.828v-35.31c0-4.875,3.953-8.828,8.828-8.828
                    h494.345c4.875,0,8.828,3.953,8.828,8.828v35.31C512,214.655,508.047,218.607,503.172,218.607z"/>
                <path style="fill:#D2B98F;" d="M503.172,386.331H8.828c-4.875,0-8.828-3.953-8.828-8.828v-35.31c0-4.875,3.953-8.828,8.828-8.828
                    h494.345c4.875,0,8.828,3.953,8.828,8.828v35.31C512,382.379,508.047,386.331,503.172,386.331z"/>
            </g>
            <g class="wood">
                <path style="fill:#FFDCA0;" d="M61.793,421.642h-35.31c-4.875,0-8.828-3.953-8.828-8.828V135.221c0-3.2,0.87-6.339,2.516-9.084
                    l20.182-33.636c1.715-2.857,5.855-2.857,7.57,0l20.182,33.636c1.646,2.744,2.516,5.884,2.516,9.084v277.592
                    C70.621,417.689,66.668,421.642,61.793,421.642z"/>
                <path style="fill:#FFDCA0;" d="M132.414,421.642h-35.31c-4.875,0-8.828-3.953-8.828-8.828V135.221c0-3.2,0.87-6.339,2.516-9.084
                    l20.182-33.636c1.715-2.857,5.855-2.857,7.57,0l20.182,33.636c1.646,2.744,2.516,5.884,2.516,9.084v277.592
                    C141.241,417.689,137.289,421.642,132.414,421.642z"/>
                <path style="fill:#FFDCA0;" d="M203.034,421.642h-35.31c-4.875,0-8.828-3.953-8.828-8.828V135.221c0-3.2,0.87-6.339,2.516-9.084
                    l20.182-33.636c1.715-2.857,5.855-2.857,7.57,0l20.182,33.636c1.646,2.744,2.516,5.884,2.516,9.084v277.592
                    C211.862,417.689,207.91,421.642,203.034,421.642z"/>
                <path style="fill:#FFDCA0;" d="M273.655,421.642h-35.31c-4.875,0-8.828-3.953-8.828-8.828V135.221c0-3.2,0.87-6.339,2.516-9.084
                    l20.182-33.636c1.715-2.857,5.855-2.857,7.57,0l20.182,33.636c1.646,2.744,2.516,5.884,2.516,9.084v277.592
                    C282.483,417.689,278.53,421.642,273.655,421.642z"/>
                <path style="fill:#FFDCA0;" d="M344.276,421.642h-35.31c-4.875,0-8.828-3.953-8.828-8.828V135.221c0-3.2,0.87-6.339,2.516-9.084
                    l20.182-33.636c1.715-2.857,5.855-2.857,7.57,0l20.182,33.636c1.646,2.744,2.516,5.884,2.516,9.084v277.592
                    C353.103,417.689,349.151,421.642,344.276,421.642z"/>
                <path style="fill:#FFDCA0;" d="M414.897,421.642h-35.31c-4.875,0-8.828-3.953-8.828-8.828V135.221c0-3.2,0.87-6.339,2.516-9.084
                    l20.182-33.636c1.715-2.857,5.855-2.857,7.57,0l20.182,33.636c1.646,2.744,2.516,5.884,2.516,9.084v277.592
                    C423.724,417.689,419.772,421.642,414.897,421.642z"/>
                <path style="fill:#FFDCA0;" d="M485.517,421.642h-35.31c-4.875,0-8.828-3.953-8.828-8.828V135.221c0-3.2,0.87-6.339,2.516-9.084
                    l20.182-33.636c1.715-2.857,5.855-2.857,7.57,0l20.182,33.636c1.646,2.744,2.516,5.884,2.516,9.084v277.592
                    C494.345,417.689,490.392,421.642,485.517,421.642z"/>
            </g>
            <g>
                <circle style="fill:#A5967D;" cx="44.138" cy="192.121" r="8.828"/>
                <circle style="fill:#A5967D;" cx="44.138" cy="359.845" r="8.828"/>
                <circle style="fill:#A5967D;" cx="114.759" cy="192.121" r="8.828"/>
                <circle style="fill:#A5967D;" cx="114.759" cy="359.845" r="8.828"/>
                <circle style="fill:#A5967D;" cx="185.379" cy="192.121" r="8.828"/>
                <circle style="fill:#A5967D;" cx="185.379" cy="359.845" r="8.828"/>
                <circle style="fill:#A5967D;" cx="256" cy="192.121" r="8.828"/>
                <circle style="fill:#A5967D;" cx="256" cy="359.845" r="8.828"/>
                <circle style="fill:#A5967D;" cx="326.621" cy="192.121" r="8.828"/>
                <circle style="fill:#A5967D;" cx="326.621" cy="359.845" r="8.828"/>
                <circle style="fill:#A5967D;" cx="397.241" cy="192.121" r="8.828"/>
                <circle style="fill:#A5967D;" cx="397.241" cy="359.845" r="8.828"/>
                <circle style="fill:#A5967D;" cx="467.862" cy="192.121" r="8.828"/>
                <circle style="fill:#A5967D;" cx="467.862" cy="359.845" r="8.828"/>
            </g>
            </svg>
        
            <img src="/assets/grasspatch.png" class="grass patch-1">
            <img src="/assets/grasspatch.png" class="grass patch-2">
            <img src="/assets/grasspatch.png" class="grass patch-3">
            <img src="/assets/grasspatch.png" class="grass patch-4">
            <img src="/assets/grasspatch.png" class="grass patch-5">
            <img src="/assets/grasspatch.png" class="grass patch-6">
            <img src="/assets/doghouse.png" class="doghouse">
            <img src="/assets/birdhouse.png" class="birdhouse">
            <img src="/assets/runningdog.gif" class="dog">
            <section class="bird"></section>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>    
        </body>
</html>